.Container{
    width: 300px;
    align-content: center;
}

label {
    display: block;
    margin-bottom :5px;
}
input {
    width: 300px;
    padding:5px;
    margin-bottom:10px;
}
button.button{
    padding:10px 20px;
    background-color: #4CAF50;
    border:none;
    cursor:pointer;
}
button.button:hover {
    background-color: #45a049;
}